.page-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-wrap {
  box-sizing: border-box;
  border-bottom: solid 3px white;
  width: min-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  background-color: white;
}

.header {
  box-sizing: border-box;
  text-align: left;
  color: black;
  font-size: 40px;
  margin: 0px;
}
.stripe {
  display: flex;
  flex-direction: column;
  width: 30px;
}
.red {
  background-color: var(--red);
}
.green {
  background-color: var(--green);
}
.white {
  background-color: white;
}
.black {
  background-color: black;
}
.stripe * {
  flex: 1;
}

.team-wrap {
  max-width: 1200px;
  width: 100%;
}
.team-content {
  max-width: 850px;
  width: 100%;
}
.team-executives {
  margin-top: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.team-table-wrap {
  border-radius: 10px;
}
.team-table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}
@media all and (max-width: 1200px) {
  .team-content {
    padding: 0px 20px 0px 20px;
  }
}
@media all and (max-width: 800px) {
  .header-wrap {
    border-bottom: solid 0px white;
  }
  .header {
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
  }

  .team-executives {
    gap: 10px;
  }
  .team-wrap {
    margin-right: 40px;
  }
}

@media all and (max-width: 1400px) {
  .team-wrap {
    max-width: 1100px;
    transition: 300ms;
  }
}

@media all and (max-width: 1200px) {
  .team-wrap {
    max-width: 1000px;
  }
}

@media all and (max-width: 1000px) {
  .team-wrap {
    max-width: 800px;
  }

  .page-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
    overflow: hidden;
    transition: 300ms;
  }
}
